.App-header {
  justify-content: center;
  width: 100vw;
  margin-top: 30px;
  display: flex;
}
.Letter-Size {
  font-size: 60px;
  font-weight: bold;
  color: Indigo;
}
.App-div {
  justify-content: center;
  height: 100%;
  display: flex;
}
.push {
  height: 55px;
  width: 500px;
  border-radius: 12px;
  outline: none;
  outline: Indigo;
  font-size: 2rem;
}
